﻿@using sistema_crm.Uteis;

@{
    Layout = "../Shared/_CompraLayout.cshtml";
}

<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Compre sua licença</title>

    <!-- CSS do Bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link id="pagestyle" href="~/lib/bootstrap/assets/css/soft-ui-dashboard.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body class="g-sidenav-show bg-gray-100">
    <div class="container" style="margin-bottom: 30px">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="TelaCompra">Cadastro</a>
            </li>
            <li class="nav-item">
                <p class="nav-link active" aria-current="page">Pagamento</p>
            </li>
        </ul>
    </div>

    <div class="container main-container">
        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-4">
                    <span class="text-muted">Produto</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">CRM Business</h6>
                            <small class="text-muted">Software de gestão de relacionamento com o cliente.</small>
                        </div>
                        <span class="text-muted">R$300</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (BRL)</span>
                        <strong>R$300</strong>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <h4>Realizar Pagamento com Cartão de Crédito</h4>
                <form id="paymentForm" asp-controller="Home" asp-action="FinalizaCompra" method="post">
                    <h>Informações do Cartão</h>
                    <div class="mb-3">
                        <label for="card_name" class="form-label">Nome no Cartão:</label>
                        <input type="text" class="form-control" id="card_name" name="NomeTitular" required>
                    </div>

                    <div class="mb-3">
                        <label for="card_number" class="form-label">Número do Cartão:</label>
                        <input type="text" class="form-control" id="card_number" name="NumeroCartaoDeCredito" required>
                    </div>

                    <div class="mb-3 row">
                        <div class="col">
                            <label for="expiry_month" class="form-label">Mês de Expiração:</label>
                            <input type="text" class="form-control" id="expiry_month" name="MesExpiracao" required>
                        </div>
                        <div class="col">
                            <label for="expiry_year" class="form-label">Ano de Expiração:</label>
                            <input type="text" class="form-control" id="expiry_year" name="AnoExpiracao" required>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="cvv" class="form-label">CVV:</label>
                        <input type="text" class="form-control" id="cvv" name="cvv" required>
                    </div>

                    <h4>Informações do Titular</h4>
                    <div class="form-group">
                        <label for="holder_name">Nome do Titular:</label>
                        <input type="text" class="form-control" id="holder_name" name="NomeTitular" required>
                    </div>
                    <div class="form-group">
                        <label for="cpf">CPF/CNPJ:</label>
                        <input type="text" class="form-control" id="cpf" name="Cpf" required>
                    </div>
                    <div class="form-group mb-1">
                    </div>
                    <div class="form-group">
                        <label for="cep">CEP:</label>
                        <input type="text" id="cep" class="form-control" name="Cep" required>
                    </div>
                   
                    <div class="form-group">
                        <label for="address_number">Endereço:</label>
                        <input type="text" class="form-control" id="address_number" name="NumeroCasa" required>
                    </div>

                    <div class="form-group">
                        <label for="telefone">Telefone:</label>
                        <input type="text" class="form-control" id="telefone" name="telefone" required>
                    </div>
                    <div class="form-group">
                        <label for="email"> Email:</label>
                        <input type="email" class="form-control" id="email" name="Email" required>
                    </div>


                    <h4>Informações do Pedido</h4>
                    <div class="form-group">
                        <label for="customer">Cliente:</label>
                        <input type="text" class="form-control" id="customer" name="customer" required>
                    </div>
                    <div class="form-group">
                        <label for="total_value">Valor Total:</label>
                        <input type="number" class="form-control" id="total_value" name="valor" required />
                    </div>

                    <div class="form-group">
                        <label for="payment_method">Método de Pagamento:</label>
                        <select id="payment_method" class="form-control" name="payment_method" required>
                            <option value="card">Cartão de Crédito</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Finalizar Compra</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Script JavaScript para manipular o formulário -->
    <script>
       
    </script>
   
</body>
</html>
