@model VendedorModel

@{
    ViewData["Title"] = "Adicionar Vendedor";
    Layout = "../Shared/_Layout.cshtml";
}



<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Adicionar Vendedor</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/lib/bootstrap/assets/css/soft-ui-dashboard.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <!-- jQuery Mask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

    <!-- Validação -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.13/jquery.validate.unobtrusive.min.js"></script>



    <style>
        .btn-outline-primary {
            --bs-btn-color: #cb0c9f;
            --bs-btn-border-color: #cb0c9f;
            --bs-btn-hover-color: #fff;
            --bs-btn-hover-bg: #cb0c9f;
            --bs-btn-hover-border-color: #cb0c9f;
            --bs-btn-focus-shadow-rgb: 203, 12, 159;
            --bs-btn-active-color: #fff;
            --bs-btn-active-bg: #cb0c9f;
            --bs-btn-active-border-color: #cb0c9f;
            --bs-btn-active-shadow: none;
            --bs-btn-disabled-color: #cb0c9f;
            --bs-btn-disabled-bg: transparent;
            --bs-btn-disabled-border-color: #cb0c9f;
            --bs-gradient: none;
        }

        .crm {
            margin-top: 20px;
        }

        .icon-pink {
            color: #ff69b4; /* Cor rosa */
        }
    </style>
</head>
<body class="g-sidenav-show bg-gray-100">
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
        <div class="container-fluid py-5">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h4 class="text-muted"><i class="fas fa-user-plus me-2"></i>Cadastro de Vendedor</h4>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <form asp-controller="Vendedor" asp-action="Criar" method="post">
                        <!-- Linha 1 -->
                        <div class="row">
                            <div class="form-group col-md-5 mb-3">
                                <label for="nome">
                                    <i class="fas fa-user icon-pink"></i> Nome
                                </label>
                                <input asp-for="Nome" type="text" class="form-control" />
                                <span style="color:red" asp-validation-for="Nome"></span>
                            </div>
                            <div class="form-group col-md-3 mb-3">
                                <label for="CPF">
                                    <i class="fas fa-id-card icon-pink"></i> CPF
                                </label>
                                <input asp-for="CPF" type="text" class="form-control" id="cpf" placeholder="___.___.___-__">
                                <span style="color:red" asp-validation-for="CPF"></span>
                            </div>
                            <div class="form-group col-md-3 mb-3">
                                <label for="Nascimento">
                                    <i class="fas fa-calendar-alt icon-pink"></i> Data Nascimento
                                </label>
                                <input asp-for="Nascimento" type="date" class="form-control" />
                                <span style="color:red" asp-validation-for="Nascimento"></span>
                            </div>
                        </div>

                        <!-- Linha 2 -->
                        <div class="row">
                            <div class="form-group col-md-7 mb-3">
                                <label for="Endereco">
                                    <i class="fas fa-map-marker-alt icon-pink"></i> Endereço
                                </label>
                                <input asp-for="Endereco" type="text" class="form-control" />
                                <span style="color:red" asp-validation-for="Endereco"></span>
                            </div>
                            <div class="form-group col-md-4 mb-3">
                                <label for="Telefone">
                                    <i class="fas fa-phone icon-pink"></i> Telefone
                                </label>
                                <input asp-for="Telefone" type="text" class="form-control" id="telefone" placeholder="(__) _____-____">
                                <span style="color:red" asp-validation-for="Telefone"></span>
                            </div>
                        </div>

                        <!-- Linha 3 -->
                        <div class="row">
                            <div class="form-group col-md-7 mb-3">
                                <label for="Email">
                                    <i class="fas fa-envelope icon-pink"></i> Email
                                </label>
                                <input asp-for="Email" type="email" class="form-control" placeholder="fulano@email.com">
                                <span style="color:red" asp-validation-for="Email"></span>
                            </div>
                            <div class="form-group col-md-4 mb-3">
                                <label for="Senha">
                                    <i class="fas fa-lock icon-pink"></i> Senha
                                </label>
                                <input asp-for="Senha" type="password" class="form-control">
                                <span style="color:red" asp-validation-for="Senha"></span>
                            </div>
                        </div>

                        <!-- Linha 4 -->
                        <div class="row">
                            <div class="form-group col-md-5 mb-3">
                                <label for="Status">
                                    <i class="fas fa-toggle-on icon-pink"></i> Situação
                                </label>
                                <select asp-for="Status" class="form-control">
                                    <option value="">Escolha...</option>
                                    <option>Ativo</option>
                                    <option>Inativo</option>
                                </select>
                            </div>
                            <div class="form-group col-md-5 mb-3">
                                <label for="DataADM">
                                    <i class="fas fa-calendar-check icon-pink"></i> Data Admissão
                                </label>
                                <input asp-for="DataADM" type="date" class="form-control">
                                <span style="color:red" asp-validation-for="DataADM"></span>
                            </div>
                        </div>

                        <!-- Botão de envio -->
                        <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Adicionar Vendedor</button>
                    </form>
                    <div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script>
        $(document).ready(function () {
            // Aplicar máscaras nos campos
            $('#cpf').mask('000.000.000-00');
            $('#telefone').mask('(00) 00000-0000');

            // Verificar se há mensagem de sucesso
            const successMessage = '@TempData["SuccessMessage"]';
            if (successMessage && successMessage !== "undefined") {
                alert(successMessage.trim());
            }
        });
    </script>
</body>
</html>
