@model VendedorModel;

@{
    ViewData["Title"] = "Adicionar Vendedor";
    Layout = "../Shared/_Layout.cshtml";
}

<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Adicionar Vendedor</title>

    <!-- Bootstrap CSS -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/lib/bootstrap/assets/css/soft-ui-dashboard.css">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <!-- jQuery Mask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

    <style>
        .btn-outline-primary {
            --bs-btn-color: #cb0c9f;
            --bs-btn-border-color: #cb0c9f;
            --bs-btn-hover-color: #fff;
            --bs-btn-hover-bg: #cb0c9f;
            --bs-btn-hover-border-color: #cb0c9f;
            --bs-btn-focus-shadow-rgb: 203, 12, 159;
            --bs-btn-active-color: #fff;
            --bs-btn-active-bg: #cb0c9f;
            --bs-btn-active-border-color: #cb0c9f;
            --bs-btn-disabled-color: #cb0c9f;
            --bs-btn-disabled-bg: transparent;
            --bs-btn-disabled-border-color: #cb0c9f;
        }

        .crm {
            margin-top: 20px;
        }
    </style>
</head>

<body class="g-sidenav-show bg-gray-100">
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
        <div class="container-fluid py-5">
            <div class="card mb-4">
                <div class="card-header text-white text-center">
                    <h5><i class="fas fa-user-tie me-2"></i>Cadastro de Vendedor</h5>
                </div>
                <div class="card-body px-3 pt-2 pb-2">
                    <form asp-controller="Vendedor" asp-action="Editar" method="post">
                        <input type="hidden" asp-for="Id" value="@ViewBag?.Vendedor?.Id" />

                        <div class="row">
                            <div class="form-group col-md-5 mb-3">
                                <label for="nome"><i class="fas fa-user me-2 text-primary"></i>Nome</label>
                                <input asp-for="Nome" type="text" class="form-control" value="@ViewBag?.Vendedor?.Nome" />
                                <span asp-validation-for="Nome"></span>
                            </div>
                            <div class="form-group col-md-3 mb-3">
                                <label for="CPF"><i class="fas fa-id-card me-2 text-primary"></i>CPF</label>
                                <input asp-for="CPF" type="text" class="form-control" id="cpf" placeholder="___.___.___-__" value="@ViewBag?.Vendedor?.CPF">
                                <span style="color: red" asp-validation-for="CPF"></span>
                            </div>
                            <div class="form-group col-md-3 mb-3">
                                <label for="Nascimento"><i class="fas fa-calendar-alt me-2 text-primary"></i>Data Nascimento</label>
                                <input asp-for="Nascimento" type="date" class="form-control" value="@ViewBag?.Vendedor?.Nascimento"  />
                                <span asp-validation-for="Nascimento"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-7 mb-3">
                                <label for="endereco"><i class="fas fa-home me-2 text-primary"></i>Endereço</label>
                                <input asp-for="Endereco" type="text" class="form-control" value="@ViewBag?.Vendedor?.Endereco" />
                                <span asp-validation-for="Endereco"></span>
                            </div>
                            <div class="form-group col-md-4 mb-3">
                                <label for="telefone"><i class="fas fa-phone me-2 text-primary"></i>Telefone</label>
                                <input asp-for="Telefone" type="text" class="form-control" id="telefone" placeholder="(__) _____-____" value="@ViewBag?.Vendedor?.Telefone">
                                <span asp-validation-for="Telefone"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-7 mb-3">
                                <label for="email"><i class="fas fa-envelope me-2 text-primary"></i>Email</label>
                                <input asp-for="Email" type="email" class="form-control" placeholder="fulano@email.com" value="@ViewBag?.Vendedor?.Email">
                                <span asp-validation-for="Email"></span>
                            </div>
                            <div class="form-group col-md-4 mb-3">
                                <label for="senha"><i class="fas fa-lock me-2 text-primary"></i>Senha</label>
                                <input asp-for="Senha" type="password" class="form-control" value="@ViewBag?.Vendedor?.Senha">
                                <span asp-validation-for="Senha"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-5 mb-3">
                                <label for="status"><i class="fas fa-info-circle me-2 text-primary"></i>Situação</label>
                                <select asp-for="Status" class="form-control">
                                    <option value="@ViewBag?.Vendedor?.Status">@ViewBag?.Vendedor?.Status</option>
                                    <option>Ativo</option>
                                    <option>Inativo</option>
                                </select>
                            </div>
                            <div class="form-group col-md-5 mb-3">
                                <label for="DataADM"><i class="fas fa-calendar-check me-2 text-primary"></i>Data Admissão</label>
                                <input asp-for="DataADM" type="date" class="form-control" value="@ViewBag?.Vendedor?.DataADM "/>
                                <span asp-validation-for="DataADM"></span>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end mt-4">
                            <button type="submit" class="btn btn-success">
                                <i class="fas fa-save me-2"></i>Alterar
                            </button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <script>
        $(document).ready(function () {
            // Aplicar máscaras nos campos
            $('#cpf').mask('000.000.000-00');
            $('#telefone').mask('(00) 00000-0000');
        });
    </script>
</body>
</html>
